.leftpanel {
    height: calc(100vh);
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.logo-holder {
    padding-top: 1rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.menu-title {
    font-size: 1rem;
    font-weight: 500;
}
