<div *ngIf="isReady">
  <app-map></app-map>
  <div class="menu-overlay">
    <div class="flex-row justify-content-start align-self-center menu">
      <div class="pl-1">
        <div class="image-cropper">
          <a target="_blank" [href]="owner.site">
            <img src="assets/images/logo_b.png" alt="avatar" class="profile-pic">
          </a>
        </div>
      </div>
      <div class="p-3 flex-column">
        <div class="menu-title">{{owner.title}}</div>
        <div class="menu-text">{{owner.department}}&nbsp;{{owner.name}}</div>
      </div>
    </div>
  </div>
</div>