<div *ngIf="isReady && markers">
  <app-map [markers]="markers" [data]="currentValues" (featureClick)="onFeatureClick()"></app-map>
  <div class="menu-overlay">
    <div class="d-flex flex-row justify-content-start align-self-center menu">
      <div class="p-2">
        <div class="image-cropper">
          <a target="_blank" [href]="owner.site">
            <img src="assets/images/logo_b.png" alt="avatar" class="profile-pic">
          </a>
        </div>
      </div>
      <div class="pl-3 pt-2 d-flex flex-column">
        <div class="menu-title">{{owner.title}}</div>
        <div class="menu-text">{{owner.department}}&nbsp;{{owner.name}}</div>
      </div>
    </div>
  </div>
</div>