.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .sidebar {
        max-width: 20rem;
        min-width: 16rem;
        height: 100vh;
    }

    .main-container {        
        margin: 0 1rem;
        width: 100%;
        z-index: 0;        
        padding: 0 1rem;  
    }
}
