.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .sidebar {
        width: 24rem;
        height: 100vh;
    }

    .main-container {        
        margin: 10px;
        width: 100%;
        z-index: 0;        
        height: calc(100vh - 10px);      
        padding: 0 12px 0 12px;  
    }
}
