<div id="map" class="map"></div>
<div style="display: none;">
  <div id="marker" title="Marker"></div>
  <!-- Popup -->
  <div id="popup" class="popup"></div>
  <div id="anchor-popup" class="anchor-popup">
    <a href="#" id="popup-closer" class="anchor-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>
<div class="menu-overlay">

  <div class="flex-row justify-content-start align-self-center menu">
    <div class="pl-1">
      <div class="image-cropper">
          <a target="_blank" href="http://simatek.by">
            <img src="assets/images/logo_b.png" alt="avatar" class="profile-pic">
          </a>
      </div>
    </div>
    <div class="p-3 flex-column">
      <div class="menu-title">Экологическая обстановка в РБ</div>
      <div class="menu-text">Департамент экологического мониторинга ООО "Симатек групп"</div>
    </div>
  </div>
</div>