.nav-pills .nav-link {
    border-radius: 0;
    width: 100%;
    opacity: 0.8;
    font-size: 0.8rem;
    // margin: 0.4rem;
    color: rgb(43, 43, 43);
    &:hover {
        background: rgba(81, 80, 80, 0.4);
        color: white;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #a90302;
    border-radius: 0;
    border-left: 3px solid #1b0000;
} 

.dark-back {
    background: #e7e7e7 url(assets/images/gray-cell.png) repeat;
}
.gray-back {
    background: #e7e7e7 url(assets/images/light-gray-cell.png) repeat;
}

.logoitem {
    background: #e7e7e7 url(assets/images/simatek-logo.png);
}

.card {
    border-radius: 4px;
    max-width: 1000px;
    min-width: 700px;
    opacity: 0.9;
}

.card-body {
    padding: 0;
    overflow: auto;
    min-height: 30rem;
}

.left-panel-bg {
    background: #e7e7e7 url(assets/images/bg.png) no-repeat;
    background-position: bottom;
}

.main-bg {
    background: rgba(232, 255, 236, 0.2) url(assets/images/tec.png);
    background-position-y: top;
    background-position-x: left;
}
