.nav-pills .nav-link {
    border-radius: 0.25rem;
    width: 100%;
    opacity: 0.8;
    margin: 0.4rem;
}

/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #bbbbbb;
} */

.leftpanel {
    height: 100%;
}