.app-reports {
    
    font-weight: 300;
    line-height: 1.42em;
    
    .header {
        background: rgba(226, 226, 226, 0.5);
        border-bottom: 1px solid lightgray;
        height: 4.2rem;
        .title {
            font-size: 1.2rem;
            color: rgba(41, 41, 41, 0.9)
        }
        .text {
            font-size: 0.9rem;
            color: rgba(78, 78, 78, 0.9)
        }
        &:hover {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            transition: all 400ms ease;
            background: rgba(255, 255, 255, 0.9);
        }
    }
}

.on-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(48, 48, 48, 0.9);
}

.image-logo{
    width: 10rem;
    position: relative;
    overflow: hidden;
    // border-radius: 5%;
    // border: 1px solid lightgray;
    &:hover {
      cursor: pointer;
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transform: translateY(1px);
      transition: all 400ms ease;
  }
}

.page-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgba(48, 48, 48, 0.9);
}