/* You can add global styles to this file, and also import other style files */
$w: 24px;
$h: 24px;
$r: 30px;
.pulsate {
    border: 10px solid red;
    background: tranparent;
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
    height: $h;
    width: $w;
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
    animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: calc($h-h/2);
    left: calc($w-w/2);
    z-index: 1;
    opacity: 0;
  }
  
  @keyframes pulse {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }
  

  @keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
  }
  
  .fe-pulse {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .gps_ring {
    border: 3px solid #999;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0
}
@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}
  .ol-popup {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px;
    // padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    max-width: 400px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 10px;
  color: gray;
}

.ol-popup-closer:after {
  content: "✖";
}
.popup-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);

  .header {
    padding: 1rem;
    background-color: white;
    // border-bottom: 1px solid lightgray;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .subtitle {
    font-size:  0.8rem;
    font-weight: 700;
    padding: 0.5rem 0;
  }
  .info-block {
    line-height: 1.2;
  }
  .description {
    font-size: 0.7rem;
    font-weight: 700;
    opacity: 0.9;
  }
  .function {
    @extend .description;
    font-size: 0.7rem;
    margin: 0.4rem 0 0 0;
  }
  .info-item {
    font-size: 0.7rem;
  }
  .info-items {
    padding: 0 1rem 0 1.5rem;
  }
  .address {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .content {
    justify-content: flex-start;
  }
  .datetime {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(0, 128, 64);
    font-weight: 500;
    margin: 0.8rem 0 0 0;
  }
  .datetime-value {
    @extend .datetime;
    font-weight: 600;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.p-1 {
  padding: 0.2rem;
}

.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.8rem;
}

// tab selector
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 0.8rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
}

.pollution-table {
  width: 100%;
}

// Pollutions table
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background: white;
}

th, td {
  text-align: left;
  padding: 0.5rem;
  font-size: 0.8rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}